.container-fluid {
    background-image: url(../images/h_img.jpg);
    align-content: center;
    text-align: center;
    margin: 8px;
    padding: 10rem;
    color: white;
}
h1 {
    font-family: poppins;
    padding-top: 4rem;
    line-height: 4rem;
}
#mouse {
    padding-top: 6rem;
    position: absolute;
}
.container-lg {
    text-align: center;
    margin-top: 3vw;
    font-size: 18px;
    line-height: 3vw;
}
.container-fluid-2 {
    background-image: url(../images/s_image.jpg);
    text-align: center;
    margin-top: 3vw;
    font-size: 18px;
    line-height: 3vw;
    color: white;
    padding: 5rem;
}
#form-area {
    text-align: center;
    margin: 20px;
    padding: 18px;
    box-sizing: border-box;
    color: white;
    background-image: url(../images/backgrounds/c_image.jpg);
}
#form-area input[type=text] {
    background: transparent;
    margin-top: 20px;
}
#form-area input[type=email] {
    background: transparent;
    margin-top: 20px;
}
#form-area textarea {
    background: transparent;
    margin: 20px;
}
#form-area input[type=button] {
    background: transparent;
    border: transparent;
    font-size: 24px;
    color: white;
}











.footer {
    text-align: center;
}
#contact {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
}
#design {
    display: none;
    text-align: center;
}
#dev-hide {
    display: none;
    text-align: center;
}
#product-hide {
    display: none;
    text-align: center;
}
#what {
    text-align: center;
    margin-top: 4vw;
}
.container-data{
    box-sizing: border-box;
    text-align: center;
    margin-top: 3vw;
}
.row {
    padding: 8px;
}
#img-show {
    text-align: center;
}
#dev-show {
    text-align: center;
}
#product-show {
    text-align: center;
}
#john {
    display: none;
}
#grade {
    display: none;
}
#mighty {
    display: none;
}
#dark {
    display: none;
}
#day{
    display: none;
}
#volume {
    display: none;
}
#burn {
    display: none;
}
#coffee {
    display: none;
}











@media only screen and (min-width: 320px) {
    .container-fluid {
        background-image: url(../images/h_img.jpg);
        align-content: center;
        text-align: center;
        margin: 5px;
        padding: 5rem;
        color: white;
        font-size: 18px;
         
    }
    h1 {
        font-size: 34px;
        }
    p {
        font-size: 20px;
    }
    .container-lg {
        text-align: justify;
        margin-top: 3vw;
        font-size: 18px;
        line-height: 8vw;
    }
    .container-fluid-2 {
        background-image: url(../images/s_image.jpg);
        text-align: justify;
        margin-top: 3vw;
        font-size: 24px;
        line-height: 8vw;
        color: white;
        padding: 2rem;
    }
    h2 {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .container-fluid {
        background-image: url(../images/h_img.jpg);
        align-content: center;
        text-align: center;
        margin: 7px;
        padding: 6rem;
        color: white;
        font-size: 26px;
         
    }
    h1 {
        font-size: 48px;
        }
    p {
        font-size: 32px;
    }
    .container-lg {
        text-align: justify;
        margin-top: 3vw;
        font-size: 18px;
        line-height: 8vw;
    }
    .container-fluid-2 {
        background-image: url(../images/s_image.jpg);
        text-align: justify;
        margin-top: 3vw;
        font-size: 24px;
        line-height: 8vw;
        color: white;
        padding: 2rem;
    }
    h2 {
        text-align: center;
        font-size: 42px;
    }

}