
body {
    background-color: darkolivegreen;
}

.container-fluid {
    background-image: url(../images/h_img.jpg);
    align-content: center;
    text-align: center;
    margin: 8px;
    padding: 10rem;
    color: white;
}
h1 {
    font-family: poppins;
    padding-top: 4rem;
    line-height: 4rem;
}
#mouse {
    padding-top: 6rem;
    position: absolute;
}
.container-lg {
    text-align: center;
    margin-top: 3vw;
    font-size: 18px;
    line-height: 3vw;
}
.container-fluid-2 {
    background-image: url(../images/backgrounds/s_image.jpg);
    text-align: center;
    margin-top: 3vw;
    font-size: 18px;
    line-height: 3vw;
    color: white;
    padding: 5rem;
}
#mc_embed_signup {
    text-align: center;
    color: white;
}
.footer {
    text-align: center;
}
#contact {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 2vw;
}
#design {
    display: none;
    text-align: center;
}
#dev-hide {
    display: none;
    text-align: center;
}
#product-hide {
    display: none;
    text-align: center;
}
#what {
    text-align: center;
    margin-top: 4vw;
}
.container-data{
    box-sizing: border-box;
    text-align: center;
    margin-top: 3vw;
}
.row {
    padding: 8px;
}
#img-show {
    text-align: center;
}
#dev-show {
    text-align: center;
}
#product-show {
    text-align: center;
}