.container{
    background-image: url(/images/backgrounds/h_img.jpg);
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    margin: 40px;
    padding: 10rem;
    color: white;
}
h1 {
    font-family: poppins;
    padding-top: 4rem;
    line-height: 4rem;
}
#mouse {
    padding-top: 6rem;
    position: absolute;
}
